{% extends "mots/layout.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}{% endblock %}
{% block content %}


    <div class=word-floater>
      <h3>{{word}}</h3>
    </div>


    <div class="col-md-12">
        <form action="" method="post">
             {% crispy form %}
             <div class="flexions" id="flexion_formset">
                {{ flexion_fem_members.management_form|crispy }}
                {% for subform in flexion_fem_members %}
                  {% crispy subform fem_helper %}
                {% endfor %}

             </div>
             <input class="submit" type="submit" value="Submit data">
        </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'mots/formset/jquery.formset.js' %}"></script>
    <script src="{% static 'mots/scripts/form-interactions.js' %}"></script>
    <script type="text/javascript">
        $('.flexion_entry').formset({
            addText: 'add flexion member',
            deleteText: 'remove',
            prefix: 'fem'
        });
    </script>
{% endblock %}



